###다음 데이터를 활용하여 pandas의 Series와  DataFrame을 사용하여 정형 데이터를 생성하세요.
*   데이터: 2022년 7월 기준으로 서울시 공공자전거 대여소별 이용정보중 일부분

In [1]:
자치구 = ['강남구','강동구','강북구','강서구']
대여소명 = ['2301. 현대고등학교 건너편','1002. 해공공원(천호동)','1512. 강북중학교 앞','1106. 신방화사거리']
대여건수 = [2170, 3085, 2468, 4883]
반납건수 = [2183, 3111, 2489, 5307]

열정보 = ['자치구','대여소명','대여건수','반납건수']
이용정보 = [['강남구','2301. 현대고등학교 건너편',2170, 2183],
            ['강동구','1002. 해공공원(천호동)', 3085, 3111],
            ['강북구','1512. 강북중학교 앞', 2468, 2489 ],
            ['강서구','1106. 신방화사거리', 4883 , 5307 ]
           ]

###1.데이터 관리를 위한 라이브러리 선언

In [2]:
#import pandas as pd

import pandas as pd

##2.Series 생성하기

###1)index 자동 부여

In [8]:
#대여건수를 데이터를 Series 로 생성하기

#변수명 = pd.Series([데이터들])
#데이터 참조는 리스트 참조 방식 사용 : ex)a[1]

data = pd.Series([2170, 3085, 2468, 4883])

print(data)     #모든 데이터를 출력
print(data[0])  #data[0]번째 데이터 출력
print(data[3])  #data[3]번째 데이터 출력

0    2170
1    3085
2    2468
3    4883
dtype: int64
2170
4883

In [10]:
#반납건수를 데이터를 Series 로 생성하기

#변수명 = pd.Series(리스트변수명)

data = pd.Series(반납건수)

print(data)     #모든 데이터를 출력
print(data[1])  #data[1]번째 데이터 출력
print(data[2])  #data[2]번째 데이터 출력

0    2183
1    3111
2    2489
3    5307
dtype: int64
3111
2489

###2)index 직접 부여

In [14]:
#대여건수를 데이터를 Series 로 생성하기
#각 index의 이름은 '강남구','강동구','강북구','강서구'로 지정

#변수명 = pd.Series([데이터], index=[index이름])
#index이름은 데이터 갯수만큼 생성

data = pd.Series ([2170, 3085, 2468, 4883], index=['강남구','강동구','강북구','강서구'])
print(data)
print(data[0])  #data[0]번째 데이터 출력
print(data[3])  #data[3]번째 데이터 출력
print(['강남구'])  #data['강남구']번째 데이터 출력
print(['강서구'])  #data['강서구']번째 데이터 출력

강남구    2170
강동구    3085
강북구    2468
강서구    4883
dtype: int64
2170
4883
['강남구']
['강서구']

In [19]:
#반납건수를 데이터를 Series 로 생성하기
#각 index의 이름은 '강남구','강동구','강북구','강서구'로 지정

#변수명 = pd.Series(리스트변수명, index=리스트변수명)
#index이름은 데이터 개수만큼 생성

data = pd.Series(반납건수, index = 자치구) 
print(data)
print(data[0])  #data[0]번째 데이터 출력
print(data[3])  #data[3]번째 데이터 출력
print(data['강남구'])  #data['강남구']번째 데이터 출력
print(data['강서구'])  #data['강서구']번째 데이터 출력

강남구    2183
강동구    3111
강북구    2489
강서구    5307
dtype: int64
2183
5307
2183
5307

##3.DataFrame 생성하기

###1)Dictionary 를 활용한 DataFrame 생성

In [23]:
#자치구, 대여소명, 대여건수, 반납건수를 활용하여 DataFrame 생성하기
#pd.DataFrame({'key1':value1, 'key2':value2, …})
#key : 열이름(변수명)
#value : 열이름에 해당하는 데이터들(리스트)

data = pd.DataFrame({'자치구':자치구,'대여소명':대여소명,'대여건수':대여건수,'반납건수':반납건수})
data

   자치구              대여소명  대여건수  반납건수
0  강남구  2301. 현대고등학교 건너편  2170  2183
1  강동구   1002. 해공공원(천호동)  3085  3111
2  강북구     1512. 강북중학교 앞  2468  2489
3  강서구      1106. 신방화사거리  4883  5307

###2)2차원 리스트와 columns 속성을 활용한 DataFrame 생성

In [28]:
#이용정보와 열정보를 활용하여 DataFrame 생성하기

#pd.DataFrame([데이터들], columns=['열이름들'])
#데이터들 : 각 열의 데이터들(리스트)
#열이름들 : 각 열의 변수명

data = pd.DataFrame([['강남구','2301. 현대고등학교 건너편',2170, 2183],
            ['강동구','1002. 해공공원(천호동)', 3085, 3111],
            ['강북구','1512. 강북중학교 앞', 2468, 2489 ],
            ['강서구','1106. 신방화사거리', 4883 , 5307 ]
            ],columns=['자치구','대여소명','대여건수','반납건수'])




data

   자치구              대여소명  대여건수  반납건수
0  강남구  2301. 현대고등학교 건너편  2170  2183
1  강동구   1002. 해공공원(천호동)  3085  3111
2  강북구     1512. 강북중학교 앞  2468  2489
3  강서구      1106. 신방화사거리  4883  5307

In [29]:
#리스트 변수명 활용

data = pd.DataFrame(이용정보,columns=열정보)

data

   자치구              대여소명  대여건수  반납건수
0  강남구  2301. 현대고등학교 건너편  2170  2183
1  강동구   1002. 해공공원(천호동)  3085  3111
2  강북구     1512. 강북중학교 앞  2468  2489
3  강서구      1106. 신방화사거리  4883  5307